/*
* @Author: Marte
* @Date:   2017-11-30 23:09:26
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-17 19:45:58
*/
body{
	font-family:'Microsoft YaHei';
    background-color: #f3f2f2;
    background:url(../images/background5.jpg) no-repeat 0px 0px;
    
}
